#hero {
  height: 50vh;
  min-height: 300px;
  padding: 50px;
  background: linear-gradient(hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0.7)),
    url('../images/coding.gif');
  /* background-repeat: no-repeat; */
  background-size: cover;
  color: white;
  text-align: center;
}

#hero h1 {
  margin-bottom: 1rem;
  font-size: 5rem;
}

#hero h2 {
  font-size: 2em;
  text-shadow: 2px 2px 0px rgb(0, 65, 185);
}

#heroLogo {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 500px;

}

@media (max-width: 450px) {
  #heroLogo {
    width: 250px;
  }
}