@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@import '/css/resets.css';
@import '/css/header.css';
@import '/css/hero.css';
@import '/css/snippets.css';
@import '/css/search.css';
@import '/css/palette.css';
@import '/css/navigation.css';

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #ebebec;
}

#competitors {
  background-color: var(--snips-purple);
}

#competitors img {
  width: 100px;
  padding-left: 10px;
}

.icon-container {

  margin: 0 auto;
  padding-left: 25%;

}

#competitors h2 {
  padding: 2rem;
  text-align: center;
}



.info-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
}

.info-block img {
  width: 100%;
}

.info-block p {
  padding: 0 5rem;
  font-size: 20px;
  line-height: 2rem;
}

.info-block:nth-child(2n) {
  background-color: grey;
}

.info-block p {
  padding: 0 5rem;
}